.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.login-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-field {
    width: 100%;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0 0 0.0625rem #8F99A1 inset;
    padding: 0.75rem 1rem;
    font-family: 'Outfit', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.text-field:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0625rem #00B700 inset;
}

.text-field::placeholder {
    color: #8F99A1;
}

.error-text {
    color: #FF0900;
}

@media (min-width: 768px) {
    .main {
        padding: 4rem;
    }

    .login-title {
        font-size: 2.5rem;
    }

    .login-form {
        max-width: 33.75rem;
    }
}
