.orders-container {
    display: flex;
    flex-direction: column;
}

.orders-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
}

.orders-table {
    display: grid;
    grid-template-columns: repeat(6, minmax(12.5rem, 1fr));
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 2rem;
    overflow-x: auto;
}

.table-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table-text-strong {
    font-weight: 600;
}

.table-text-primary {
    color: #00B700;
}

.table-text-warning {
    color: #FF7433;
}

.table-text-danger {
    color: #FF0900;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.no-order {
    padding: 0 2rem 2rem;
}

@media (min-width: 768px) {
    .orders-title {
        font-size: 2.5rem;
    }
}
