.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.orders-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.orders-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.order-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 0 0.0625rem #8F99A1 inset;
    border-radius: 1rem;
    padding: 2rem;
    color: inherit;
    text-decoration: none;
}

.order-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.order-item-text:last-child {
    text-align: end;
}

.order-item-text-primary {
    color: #00B700;
}

.order-item-text-warning {
    color: #FF7433;
}

.order-item-text-danger {
    color: #FF0900;
}

.orders-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #D8FFD7;
}

.orders-empty-text {
    color: #0A5D0C;
    text-align: center;
}

@media (min-width: 768px) {
    .orders-title {
        font-size: 2.5rem;
    }

    .orders-list {
        max-width: 33.75rem;
    }

    .orders-empty {
        padding: 4rem;
    }
}
